@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
:root {
    --gray-50: hsl(204, 45%, 98%);
    --gray-600: hsl(0, 0%, 100%);
    --gray-700: rgb(0, 105, 255);
    --gray-800: HSL(220, 26%, 14%);
    --gap: 2rem;
    --duration: 30s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}

body {
    font-family: "Montserrat", system-ui, sans-serif;
}

.title {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: var(--gray-50);
    margin-bottom: 5rem;
    text-align: center;
}

.marquee-wrapper {
    margin: auto;
    max-width: 100vw;
}

.marquee {
    display: flex;
    gap: var(--gap);
}

.marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-left var(--duration) linear infinite;
}

.marquee-tag-wrapper {
    text-decoration: none;
    color: var(--gray-50);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    padding: 0.625rem 1.5rem 0.625rem 0.625rem;
    background-color: var(--gray-700);
    border-radius: 9999px;
}

.marquee-tag-wrapper:hover {
    transition: all 0.4s;
    box-shadow: rgba(87, 87, 87, 0.4) 0px 5px;
}

.marquee-tag-container {
    display: flex;
    align-items: center;
}

.marquee-tag-icon {
    padding: 1.25rem;
    background-color: var(--gray-600);
    border-radius: 9999px;
}

.marquee-tag {
    margin-left: 0.75rem;
}

@keyframes scroll-left {
    from {
        transform: translateX(var(--scroll-start));
    }
    to {
        transform: translateX(var(--scroll-end));
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee-group {
        animation-play-state: paused;
    }
}

.fade {
    pointer-events: none;
    background: linear-gradient(90deg, #ffffff, transparent 10%, transparent 50%, #ffffff);
    position: absolute;
    inset: 0;
}

@media screen and (max-width:500px) {
    /*Mobile version*/
    html {
        font-size: 0.6em;
    }
}