* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

.main {
    background-color: #1f1f1f;
    /*background: url(images/image.jpg)no-repeat center center / cover;*/
}

a {
    text-decoration: none;
}

header {
    z-index: 200;
}

nav {
    height: 7vh;
    padding: 0 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.5em;
    position: fixed;
    transition: all 0.5s;
    z-index: 1000;
}

nav a {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    font-weight: 900;
}

.nav-items a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    background-color: rgb(0, 105, 255);
    border-radius: 5px;
}

.head-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head-content h1 {
    font-size: 6rem;
    font-weight: 100;
    color: white;
    text-transform: capitalize;
}

.content p {
    font-size: 1.4rem;
    padding: 0 4em;
    margin: 1rem;
    line-height: 1.7;
}

nav.sticky {
    background: rgba(255, 255, 255, 1);
}

nav.sticky a {
    color: rgb(36, 51, 90);
    height: 30px;
}

nav.sticky a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.4s;
    background-color: rgb(0, 105, 255);
    border-radius: 5px;
}

nav.sticky .logo {
    color: rgb(36, 51, 90);
}

.logo img {
    height: 30px;
    opacity: 1;
}

.container {
    font-size: 25px;
    text-align: center;
    color: white;
    margin: auto;
    background-color: rgb(0, 105, 255);
    position: absolute;
    top: 70px;
    width: 100%;
    height: 80%;
    border-radius: 6px;
    box-shadow: black;
    flex-direction: column;
    display: flex;
}

.title {
    top: 25%;
    font-family: 'Epilogue';
    margin: auto;
    margin-top: 50px;
    position: relative;
    flex: 1;
    width: 300px;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
}

.text {
    margin: auto;
    margin-top: 50px;
    position: relative;
    flex: 1;
    width: 300px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.leftcloud {
    height: 273px;
    position: absolute;
    top: 120px;
    width: 211px;
}

.rightcloud {
    height: 273px;
    position: absolute;
    right: 0;
    top: 90px;
    width: 211px;
}