* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

.main {
    background-color: rgb(3, 83, 194);
    /*background: url(/images/bg.jpeg)no-repeat center center / cover;*/
}

a {
    text-decoration: none;
}

header {
    z-index: 200;
    display: flex;
}

nav {
    height: 7vh;
    padding: 0 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.5em;
    position: fixed;
    transition: all 0.5s;
    z-index: 1000;
}

nav a {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    font-weight: 900;
}

.nav-items a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    background-color: rgb(0, 105, 255);
    border-radius: 5px;
}

nav.sticky {
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav.sticky a {
    color: rgb(36, 51, 90);
    height: 30px;
}

nav.sticky a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.4s;
    background-color: rgb(0, 105, 255);
    border-radius: 5px;
    box-shadow: rgba(87, 87, 87, 0.4) 0px 5px;
}

nav img {
    height: 30px;
    opacity: 1;
}

nav img.sticky {
    height: 30px;
    opacity: 1;
}

@media screen and (max-width: 700px) {
    .nav-items {
        display: none;
    }
    .leftcloud {
        display: none;
    }
    .rightcloud {
        display: none;
    }
}

@media screen and (min-width:701px) {
    .links {
        display: none;
    }
    .dropdown {
        display: none;
    }
}

.container {
    font-size: 25px;
    text-align: center;
    color: white;
    margin: auto;
    background-color: rgb(0, 105, 255);
    position: absolute;
    top: 70px;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 6px 6px;
    flex-direction: column;
    display: flex;
}

.info {
    top: 25%;
    font-family: 'Epilogue';
    margin: auto;
    margin-top: 50px;
    position: relative;
    flex: 1;
    width: 300px;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
}

.text {
    margin: auto;
    margin-top: 50px;
    position: relative;
    flex: 1;
    width: 300px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

#imgblue {
    display: none;
}

.links {
    margin-top: 20px;
}

.links a {
    background-color: white;
    border-radius: 5px;
    color: rgb(36, 51, 90);
    font-size: 1.6rem;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    font-weight: 900;
    box-shadow: rgba(87, 87, 87, 0.4) 0px 5px;
}

.links a:hover {
    background-color: #dee3ed;
    box-shadow: rgba(87, 87, 87, 0.4) 0px 5px;
}

.leftcloud {
    height: 273px;
    position: absolute;
    top: 120px;
    width: 211px;
}

.rightcloud {
    height: 273px;
    position: absolute;
    right: 0;
    top: 90px;
    width: 211px;
}