/*Estilo de toda la página sin bordes ni margenes*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Estílo del html, tamaños en em y letra poppins*/

html {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}


/*Enlaces sin decoración*/

a {
    text-decoration: none;
}


/*Encabezado*/

header {
    display: flex;
}

nav {
    font-size: 0.6em;
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7em;
    position: fixed;
    transition: all 0.5s;
    z-index: 1000;
}

nav img {
    height: 30px;
    opacity: 1;
}

nav a {
    color: rgb(36, 51, 90);
    height: 30px;
    font-size: 1.7em;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    font-weight: 900;
}

.nav-items a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.4s;
    background-color: rgb(0, 105, 255);
    border-radius: 5px;
    box-shadow: rgba(87, 87, 87, 0.4) 0px 5px;
}


/*Media query para eliminar nubes y otros efectos*/

@media screen and (max-width: 800px) {
    .nav-items {
        display: none;
    }
}

@media screen and (min-width:801px) {
    .links {
        display: none;
    }
    .dropdown {
        display: none;
    }
}

@media screen and (max-width:500px) {
    /*Mobile version*/
    nav img {
        height: 20px;
    }
    .info {
        font-size: 2.5em;
    }
    html {
        font-size: 0.8em;
    }
}


/*Contenidor general*/

section {
    font-size: 1.5em;
    margin: auto;
    background-color: rgb(0, 105, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    display: flex;
}


/*Login & Register title*/

.user-details h5 {
    text-align: center;
    margin-bottom: 20px;
}


/*Estils per inputs*/

.user-details {
    display: flex;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(36, 51, 90);
}

.user-details .input-box {
    font-size: 67%;
    margin-top: 10px;
    font-weight: 500;
}

.user-details .input-box input {
    background-color: rgb(202, 202, 202);
    height: 40px;
    width: 100%;
    margin-top: 2px;
    outline: none;
    font-size: 1em;
    border-radius: 5px;
    padding-left: 15px;
    border: 0px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus {
    box-shadow: rgb(0, 105, 255, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


/*Botó de registre*/

.registerbtn {
    font-weight: bold;
    background-color: rgb(0, 105, 255);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
}

.registerbtn:hover {
    transition: all 0.3s;
    border: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.account-box {
    text-align: center;
    font-size: 60%;
    margin-top: 10px;
    font-weight: 500;
}