/*Estilo de toda la página sin bordes ni margenes*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Estílo del html, tamaños en em y letra poppins*/

body {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    position: relative;
}


/*Enlaces sin decoración*/

a {
    text-decoration: none;
}

html {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}


/*Encabezado*/

header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
}

nav {
    font-size: 0.6em;
    background: rgb(255, 255, 255);
    padding: 0 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7em;
    transition: all 0.5s;
}

nav img {
    height: 30px;
    opacity: 1;
}

nav a {
    color: rgb(36, 51, 90);
    height: 30px;
    font-size: 1.7em;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    font-weight: 900;
}

.nav-items a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.4s;
    background-color: rgb(0, 105, 255);
    border-radius: 5px;
    box-shadow: rgba(87, 87, 87, 0.4) 0px 5px;
}

li {
    list-style: none;
}

section {
    display: flex;
}

.sidebar {
    width: 100%;
    min-height: 90vh;
    width: fit-content;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #f1f1f1;
}

.sidebar a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: rgb(36, 51, 90);
    padding: 10px;
}

.sidebar a:hover {
    color: rgb(0, 105, 255);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.nav-items img {
    height: 40px;
    border: 2px solid #f1f1f1;
}

.dashboard {
    margin: 0 auto;
}

.server-parent {
    height: 92vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 10px;
}

.flex-row {
    display: flex;
}

@media (max-width: 950px) {
    .sidebar {
        display: none;
    }
    .server-parent {
        grid-template-columns: repeat(1, 1fr);
    }
}

.server {
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    max-width: 450px;
}

.server-icon {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    margin-right: 10px;
    background-color: rgb(0, 105, 255);
    flex: 1;
}

.server-icon img {
    margin: 1;
    width: 2em;
    justify-content: center;
}

.server-details li {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #323544;
    font-weight: 600;
}

.server-details .data {
    margin-left: 1rem;
    font-weight: 600;
    text-align: right;
    color: rgb(0, 105, 255);
}

.server-details .on {
    color: #31b816;
}

.server-details .off {
    color: rgb(255, 0, 0);
}

.server-details .port {
    color: #D6CC32;
}

.control {
    padding: 1em;
    text-align: center;
}

.control form button {
    margin: 2px;
}

.button-panel {
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    font-weight: 600;
    padding: 6px 16px;
    vertical-align: middle;
    white-space: nowrap;
}

.start {
    background-color: #31b816;
}

.start:hover {
    background-color: #2c974b;
}

.start:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.stop {
    background-color: rgb(255, 0, 0);
}

.stop:hover {
    background-color: #aa0e0e;
}

.stop:focus {
    box-shadow: rgba(247, 135, 101, 0.4) 0 0 0 3px;
    outline: none;
}

.main {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.server-form {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.server-form h2 {
    text-align: center;
    margin-bottom: 40px;
}

.server-form form {
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.input-box {
    margin: 10px;
}

.input-box p {
    font-weight: 600;
}

.input-box input {
    background-color: rgb(223, 220, 220);
    height: 40px;
    width: 100%;
    margin-top: 2px;
    outline: none;
    font-size: 1em;
    border-radius: 5px;
    padding-left: 15px;
    border: 0px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.input-box input:focus {
    box-shadow: rgb(0, 105, 255) 3px 4px 0px;
}

.warning {
    font-weight: 600;
    color: #c0871e;
    margin: 10px;
}

.submit-btn {
    font-weight: bold;
    background-color: rgb(0, 105, 255);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
}

.server-form .server-radio {
    align-items: center;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #d6d8db;
}

.server-radio img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.server-radio:hover {
    box-shadow: rgb(0, 105, 255) 3px 4px 0px;
    transition: all 0.3s ease;
}

.select {
    justify-content: center;
    display: flex;
}

#succesfull {
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 7px;
    background-color: #d0f5c7;
    border: 1px solid #33ff00;
    padding: 20px;
    z-index: -1;
}

#succesfull p {
    color: #388820;
    font-weight: 600;
}

#error {
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 7px;
    background-color: #f1d9d9;
    border: 1px solid #ec5c5e;
    padding: 20px;
    z-index: -1;
}

#error p {
    color: #cc0033;
    font-weight: 600;
}